html,
body {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
}

.homepage {
  background-image: url("./images/background.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: scroll;
}

/* Change buttons */
.btn-outline-primary, .btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:visited {
  background-color: black !important;
  color: white !important;
  border-radius: 20px;
  border-color: black
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: white !important;
  color: black !important;
  border-radius: 20px;
  border-color: white
}

/* Change login/signup form backgrounds */

.form-board-signup {
  background: rgba(255, 255, 255, 0.596);
  border-radius: 5px;
  min-height: 65vh;
  padding: 35px;
}

.form-board-login {
  background: rgba(255, 255, 255, 0.596);
  border-radius: 5px;
  min-height: 35vh;
  padding: 35px;
}

/* Feed: */

.question-board {
  background: rgba(255, 255, 255, 0.596);
  border-radius: 5px;
  min-height: 80vh;
}

.question-list {
  height: 100%;
}

.subject-top-bar {
  display: none;
}

@media (max-width: 800px) {
  .subject-top-bar {
    display: inline;
  }
  .sidebar {
    display: none;
  }
}
