{% extends "base.html" %} {% block title %}LunaTutor{% endblock %} {% block
    content %}

    <div class='text-white text-center'>
        <h1 class='mt-5 display-2 text-white'>About Us</h1>
        <p class='lead'>Science For All </p>
    </hr>
    <div class='container'>
    <p>Luna tutor was created for the 2020 NASA SpaceApps Challenge in Seattle.</p>
    <p>2020 has been a difficult year for everyone, but it has been especially hard on K-12 students new to remote learning who have had to adapt to a new way of learning in a short amount of time. With teachers not as accessible as they are able to be inside a classroom, we feared that students where in need of an additional place to ask their science-related questions. This is what inspired us to create lunatutor, a space where anyone can ask and answer questions relating to science.</p>
    <p>Created By:</p>
    
    <p><a href="https://github.com/nbry">Nathan Bryant</a></p>
    <p><a href="https://github.com/thorai219">Seung Lee</a></p>
    <p><a href="https://github.com/exgin">Samuel Reid</a></p>
    <p><a href="https://github.com/zoezhang926">Zoe Zhang</a></p>
    <p><a href="https://github.com/JAWeiss89">Jorge Weiss</a></p>

    </div>
    </div>
    

    {% endblock %} {% block scripts %}
    {% endblock %}
    