{% extends "base.html" %} {% block title %}LunaTutor{% endblock %} {% block
content %}

<!-- Mission Statement -->
<div class="mission_statement animate-med text-center">
  <h1 class="display-1 text-white">Science For All</h1>

<!-- End  Mission Statement -->
<div class="m-3"></div>
{% if g.user %}
<a class='btn btn-danger text-white btn-lg px-5' href='/q'>Go to Feed</a>
{% else %}
<a class='btn btn-danger text-white btn-lg px-5' href='/q'>Browse As Guest</a>
{% endif %}
</div>

</div>
{% endblock %} {% block scripts %}
<script src="../static/js/home.js"></script>
{% endblock %}
