{% extends "base.html" %} {% block title %}LunaTutor{% endblock %} {% block
content %}

<!-- Mission Statement -->
<div class="mission_statement text-center">
  <h1 class="display-1 text-white animate-med">Science For All</h1>
</div>
<!-- End  Mission Statement -->

<!-- View all posts -->
<div class="text-center m-5 animate-med">
  <a class='btn btn-primary text-white btn-md' href='/q'>Answer or Ask Questions Now</a>
</div>
<!-- End View all posts -->

{% endblock %} {% block scripts %}
<script src="../static/js/home.js"></script>
{% endblock %}
