{% extends "base.html" %} {% block title %}LunaTutor{% endblock %} {% block
content %}

<!-- Mission Statement -->
<div class="mission_statement animate-med text-center">
  <h1 class="mt-5 display-2 text-white">luna<span id="tutor">tutor</span></h1>
  <p class="text-white">Science questions answered.</p>
<!-- End  Mission Statement -->

<a class='btn btn-warning text-white btn-sm px-5' id="landing-pg-btn" href='/q'>Go to Feed</a>

</div>



{% endblock %} {% block scripts %}
<script src="../static/js/home.js"></script>
{% endblock %}
