{% extends "base.html" %} {% block title %}LunaTutor{% endblock %} {% block content %}



<div class="container question-board text-center">
    <h1>Feed</h1>
    <div class="row">
        <div class="col-10">
            <p>TESTING TEST</p>
            <ul class="list-group-hover">
                <!-- example list -->
                <a href="#"
                    class="list-group-item list-group-item-action d-flex justify-content-between mb-2 align-items-center">
                    Can somebody ELI5 capacitance to me? I'm so lost
                    <span class="num-responses badge badge-primary badge-pill">14</span>
                    <div>
                        <p>testing</p>
                        <p>testing</p>
                        <p>testing</p>
                    </div>
                </a>
                <a href="#"
                    class="list-group-item list-group-item-action d-flex justify-content-between mb-2 align-items-center">
                    Any fun pneumonic devices for remembering taxonomic rank?
                    <span class="num-responses badge badge-primary badge-pill">2</span>
                </a>
                <a href="#"
                    class="list-group-item list-group-item-action d-flex justify-content-between mb-2 align-items-center">
                    I suk at chemistry. HELP!
                    <span class="num-responses badge badge-primary badge-pill">1</span>
                </a>

                <!-- end example list -->

            </ul>
        </div>
        <div class="col-2 hashtag-container">
            <p class="display-5">#trending</p>
            <a href="#" class="badge badge-pill d-block mb-2 py-1 badge-primary">#reports</a>
            <a href="#" class="badge badge-pill d-block mb-2 py-1 badge-secondary">#molecularbiology</a>
            <a href="#" class="badge badge-pill d-block mb-2 py-1 badge-success">#newtonslaws</a>
            <a href="#" class="badge badge-pill d-block mb-2 py-1 badge-danger">#EXAMHELP</a>
            <a href="#" class="badge badge-pill d-block mb-2 py-1 badge-warning">#pneumonicdevice</a>
            <a href="#" class="badge badge-pill d-block mb-2 py-1 badge-info">#mentor</a>
            <a href="#" class="badge badge-pill d-block mb-2 py-1 badge-light">#lookingforbooks</a>
            <a href="#" class="badge badge-pill d-block mb-2 py-1 badge-dark">#eli5</a>
        </div>
    </div>
</div>

{% endblock %}