{% extends "base.html" %} {% block title %}LunaTutor{% endblock %} {% block
content %}

<div class="container question-board text-center">
  <h1>Feed</h1>
  <div class="row mb-3 px-5">
    <div class="col btn-group btn-group-toggle" role="group" data-toggle="buttons" aria-label="subject-buttons">
      <label class="btn btn-secondary active">
        <input type="radio" name="options" id="option1"> Biology
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="options" id="option2"> Chemistry
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="options" id="option2"> Physics
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="options" id="option2"> Astronomy
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-10">
      <ul class="list-group-hover text-left">
        <!-- [example list item] FOR VISUAL PURPOSES ONLY-->
        <a href="#" class="list-group-item list-group-item-action mb-1">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1 font-weight-bold">Capacitance</h5>
            <small>
              <span
                class="response-warning badge badge-warning badge-pill ml-3 p-1"
                >No Answers!</span
              >
              3 days ago
            </small>
          </div>

          <p class="mb-1">Can someone explain capacitance to me?</p>

          <small class="text-muted font-italic mr-1">#physics</small>
          <small class="text-muted font-italic mr-1">#EXAMHELP</small>
          <small class="text-muted font-italic mr-1">#completelyconfused</small>
        </a>
        <!-- [end example list item] FOR VISUAL PURPOSES ONLY -->

        <!-- [actual code] for list item -->
        {% for q in questions %}
        <a
          href="/q/{{ q.subject }}/{{ q.id }}"
          class="list-group-item list-group-item-action"
        >
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Capacitance</h5>
            <small>
              <!-- [warning badge] if question has no answers -->
              {% if len(q.answers) == 0 %}
              <span
                class="response-warning badge badge-warning badge-pill ml-3 p-1"
                >No Answers!</span
              >
              3 days ago
            </small>
            {% endif %}
            <!-- [end warning badge] -->
          </div>

          <p class="mb-1">Can someone explain capcitance to me?</p>
          {% for tag in q.hashtags %}
          <small class="text-muted mr-1">#{{ tag.content }}</small>
          {% endfor %}
        </a>
        {% endfor %}
        <!-- [end actual code] for list item -->

        <!-- end example list -->
      </ul>
    </div>
    <div class="col-2 hashtag-container">
      <p class="display-5">#trending</p>
      <a href="#" class="badge badge-pill d-block mb-2 py-1 badge-primary"
        >#reports</a
      >
      <a href="#" class="badge badge-pill d-block mb-2 py-1 badge-secondary"
        >#molecularbiology</a
      >
      <a href="#" class="badge badge-pill d-block mb-2 py-1 badge-success"
        >#newtonslaws</a
      >
      <a href="#" class="badge badge-pill d-block mb-2 py-1 badge-danger"
        >#EXAMHELP</a
      >
      <a href="#" class="badge badge-pill d-block mb-2 py-1 badge-warning"
        >#pneumonicdevice</a
      >
      <a href="#" class="badge badge-pill d-block mb-2 py-1 badge-info"
        >#mentor</a
      >
      <a href="#" class="badge badge-pill d-block mb-2 py-1 badge-light"
        >#lookingforbooks</a
      >
      <a href="#" class="badge badge-pill d-block mb-2 py-1 badge-dark"
        >#eli5</a
      >
    </div>
  </div>
</div>

{% endblock %}
